* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    background-image:url("Images/BackgroundColor.png");

}

.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    
}
.GamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    
}
.CreditsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    
}
.TextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    
    
}
.TextDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
    width: 100%;
    Height: 100%;
    
}